# Dependency directories
node_modules/
# parcel-bundler cache (https://parceljs.org/)
.cache
# Generated folder
dist
# Logs
*.log
# IDE / Editor
.idea
# Coverage directory used by tools like istanbul
coverage
# dotenv environment variables file
.env
# macOS
.DS_Store
# Local Netlify folder
.netlify