---
import useTranslations from '@/functions/useTranslations'
import { getLocale } from 'astro-i18n-aut'

const locale = getLocale(Astro.url)
const { t } = useTranslations(locale)
---

<p>
  {t('ExperiencesSection.matera.text')}
  <a
    class="hover:text-teal-400 dark:text-green-500 dark:hover:text-teal-400"
    href="https://www.npmjs.com/package/nuxt-image-extractor"
    rel="noopener nofollow"
    target="_blank"
  >
    nuxt-image-extractor</a
  >.
</p>
