---
import useTranslations from '@/functions/useTranslations'
import { getLocale } from 'astro-i18n-aut'

const locale = getLocale(Astro.url)
const { t } = useTranslations(locale)
---

<p>
  {t('ExperiencesSection.troop.text')}
</p>
