@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 14px;
  min-width: 320px;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media print {
    font-size: 18px;
    margin: 0;

    #astro-toolbar, /* older versions */
    astro-dev-toolbar {  /* newer versions */
      display: none !important;
    }
  }
  @apply break-words antialiased;
}

a {
  @apply text-teal-700 underline;
}

svg {
  transition: fill 0.3s;
}
