@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 14px;
  min-width: 320px;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media print {
    font-size: 18px;
    margin: 0;

    #astro-toolbar, /* older versions */
    astro-dev-toolbar {
      /* newer versions */
      display: none !important;
    }
  }
  @apply break-words antialiased;
}

a {
  @apply relative -mx-1 px-1 whitespace-nowrap !text-teal-800 underline before:absolute before:w-0 before:overflow-hidden before:border-r-2 before:border-transparent before:whitespace-nowrap before:text-amber-600 before:underline before:transition-all before:duration-1000 before:content-[attr(data-text)] hover:text-gray-700 hover:before:w-full hover:before:border-amber-600 hover:before:[filter:drop-shadow(0_0_25px_#e17100)] dark:!text-teal-500 dark:before:text-amber-400 dark:hover:text-gray-200 dark:hover:before:border-amber-400 dark:hover:before:[filter:drop-shadow(0_0_25px_#ffba00)];
}

svg {
  transition: fill 0.3s;
}
