@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 14px;
  min-width: 320px;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media print {
    font-size: 18px;
    margin: 0;

    #astro-toolbar, /* older versions */
    astro-dev-toolbar {  /* newer versions */
      display: none !important;
    }
  }
  @apply break-words antialiased;
}

a {
  @apply underline before:underline before:whitespace-nowrap px-1 hover:text-gray-700 dark:!text-teal-500 !text-teal-700 dark:hover:text-gray-200 relative before:content-[attr(data-text)] before:absolute dark:before:text-amber-400 before:text-amber-600 before:border-transparent dark:hover:before:border-amber-400 hover:before:border-amber-600 before:border-r-2 before:w-0 before:overflow-hidden hover:before:w-full before:transition-all before:duration-1000 dark:hover:before:[filter:drop-shadow(0_0_25px_#ffba00)] hover:before:[filter:drop-shadow(0_0_25px_#e17100)];
}

svg {
  transition: fill 0.3s;
}
