---
import { getLocale } from 'astro-i18n-aut'
import { getEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'

const locale = getLocale(Astro.url)
const score = await getEntry('locales', `${locale}/score`)

if (!score) {
  throw new Error(`Score content not found for locale "${locale}"`)
}

const { data, render } = score
const { Content } = await render()
---

<section class="print:mt-10">
  <div class="ml-auto flex items-center text-2xl uppercase mb-8">
    <h2 class="ml-auto text-teal-700 dark:text-white">
      {data.title}
    </h2>
    <Icon name="info" class="ml-2 h-12 w-12 text-teal-500 dark:text-teal-500" />
  </div>
  <hr
    class="my-4 box-border border border-gray-500 bg-gray-500 opacity-75 dark:border-gray-500 dark:bg-gray-300 lg:-mx-6"
  />
  <div class="prose dark:prose-invert max-w-none prose-lg print:prose-base mb-4">
    <Content />
  </div>
  <a
    class="mx-auto mb-8 block text-center text-teal-700 dark:text-white"
    href="https://pagespeed.web.dev/analysis/https-pablomiceli-dev/x33qrd3guc?form_factor=mobile"
    target="_blank"
    rel="noopener nofollow"
  >
    <picture>
      <source
        srcset={`https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_300/v1710761790/pablomiceli/static/score.webp 1x,
            
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_900/v1710761790/pablomiceli/static/score.webp 3x`}
        type="image/webp"
        media="(max-width: 412px)"
      />

      <source
        srcset={`https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_300/v1710761790/pablomiceli/static/score.jpg 1x,
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_600/v1710761790/pablomiceli/static/score.jpg 2x,
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_900/v1710761790/pablomiceli/static/score.jpg 3x`}
        type="image/jpg"
        media="(max-width: 412px)"
      />

      <source
        srcset={`https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_832/v1710761790/pablmiceli/static/score.webp  1x,
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_1664/v1710761790/pablomiceli/static/score.webp 2x,
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_2496/v1710761790/pablomiceli/static/score.webp 3x`}
        type="image/webp"
      />

      <source
        srcset={`https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_832/v1710761790/pablomiceli/static/score.jpg  1x,
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_1664/v1710761790/pablomiceli/static/score.jpg 2x,
            https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_2496/v1710761790/pablomiceli/static/score.jpg 3x`}
        type="image/jpg"
      />

      <img
        class="mx-auto object-contain"
        height="275"
        width="832"
        src="https://res.cloudinary.com/cosmic-devs/image/upload/q_auto,w_832,f_auto/v1710761790/pablomiceli/static/score"
        alt={data.score}
        loading="lazy"
      />
    </picture>
  </a>
</section>
