---
import { ViewTransitions } from 'astro:transitions'
import { getLocale } from 'astro-i18n-aut'
import useTranslations from '@/functions/useTranslations'
import '@/styles/base.css'

const locale = getLocale(Astro.url)
const { t } = useTranslations(locale)
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pablo Miceli | {t('title')}</title>
    <link rel="alternate" hreflang="en" href="https://pablomiceli.dev/" />
    <link rel="alternate" hreflang="en-US" href="https://pablomiceli.dev/" />
    <link rel="alternate" hreflang="es" href="https://pablomiceli.dev/es/" />
    <link rel="alternate" hreflang="es-AR" href="https://pablomiceli.dev/es/" />
    <link rel="alternate" hreflang="pt" href="https://pablomiceli.dev/pt/" />
    <link rel="alternate" hreflang="pt-BR" href="https://pablomiceli.dev/pt/" />
    <link rel="alternate" hreflang="x-default" href="https://pablomiceli.dev/" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={t('description')} />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:title" property="og:title" content={`Pablo Miceli | ${t('title')}`} />
    <meta name="og:site_name" property="og:site_name" content={`Pablo Miceli | ${t('title')}`} />
    <meta name="og:description" property="og:description" content={t('description')} />
    <meta name="og:url" property="og:url" content="https://pablomiceli.dev/" />
    <meta name="og:image" property="og:image" content="/img/pic_w_320.jpg" />
    <meta name="og:image:width" property="og:image:width" content="320" />
    <meta name="og:image:height" property="og:image:height" content="320" />
    <meta name="og:image:type" property="og:image:type" content="image/jpg" />

    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-D3EWWPZ6D1"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        window.dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-D3EWWPZ6D1')
    </script>

    <ViewTransitions />
  </head>
  <body class="container mx-auto flex font-sans dark:bg-gray-700">
    <slot />
  </body>
</html>
